/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

body {
  background-image: url('../assets/JohnWick.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #563365;
}



/* Cast list */
.container {
  display: grid;
  width: 900px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 1rem;
}

.cast {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.item {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  border: 6px solid #171717;
  background-color: #563365db;
}



/* Video */
.trailer {
	margin: 20px auto;
  max-width: 1100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}

.plyr__video-embed iframe {
	top: -50%;
	height: 200%;
}

main {
  width: 800px;
  margin: auto auto;
  padding: 0px;
  font-size: 1.7rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  border: 6px solid #171717;
  background-color: #563365db;
}

h1 {
  text-align: center;
  font-size: 3rem;
  width: 900px;
  margin: 70px auto;
}

p {
  margin: 20px;
}


/* plyr updates */
.plyr--full-ui input[type=range] {
  color: #563365db;
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
  background: #563365db;
}