/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}



.container {
  display: grid;
  width: 700px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 1rem;
}

/* OTHER STYLES */
.cast {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.item {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}

/* Video */
.trailer {
	margin: 20px auto;
	max-width: 500px;
}

.plyr__video-embed iframe {
	top: -50%;
	height: 200%;
}

main, h1 {
  width: 700px;
  margin: 70px auto;
}

h1 {
  text-align: center;
}