/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

video {
  border: 10px solid red;
  width: 100%;
  height: 100%;
}